.camera {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background: black;
    display: none;
    
}
.ion-input.filebtn.sc-ion-input-md-h.sc-ion-input-md-s.hydrated {
    opacity: 0;
    top: -100em;
    left: -100em;
    
}
.btnUpload {
    position: absolute;
}
.center{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.active {
    border: 2px solid red;
}

.no-face {
    font-weight: bold;
    text-align: center;
    font-style: italic;
    color: red;
}