
<ion-toolbar color="dark">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/profile"></ion-back-button>
  </ion-buttons>  
  <!-- <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon  slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Your Post</ion-title>
  </ion-toolbar>
  

<ion-content padding>
    <app-loading *ngIf="!post"></app-loading>

  <ion-card *ngIf="post as postData" color="light">
    <ion-img src='https://ucarecdn.com/{{postID}}/-/preview/{{effect}}'></ion-img>
    <ion-card-content>
      <ion-item (click)="toggleHeart()">
        <ion-icon [name]="heartType"></ion-icon>
        <ion-label>{{postData.author}} says: {{postData.desc}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>