<ion-header>
  <ion-toolbar color="dark">
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <app-loading *ngIf="!posts"></app-loading>

  <div id="profile-info" *ngIf="userName">
    <ion-grid>
      <ion-row>
        <ion-col size="4" class="user-image">
          <ion-img src="https://ucarecdn.com//{{profilePic}}/-/scale_crop/200x200/center/"></ion-img>
          <!-- <ion-img src="{{profilePic}}"></ion-img> -->
        </ion-col>
        <ion-col size="8">
          <p>{{userName}}</p>
          <ion-button shape="round" color="primary" routerLink="/tabs/edit-profile">Edit Profile</ion-button>
          <ion-button shape="round" color="danger" (click)="initiateFirebaseLogout()">Logout Firebase</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div id="images" *ngIf="posts">
    <div class="image" *ngFor="let post of posts">

        <img (click)="goToPost(post)" class="main-image" src='https://ucarecdn.com/{{post}}/-/scale_crop/200x200/center/' />
        <!-- <ion-label>{{post.desc}}</ion-label> -->

    </div>
  </div>
</ion-content>